body {
  margin: 0;
  font-family: Arial, sans-serif; /* Change the font family to Arial or your preferred font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', monospace; /* Change the font family for code elements */
}
